<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExportSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ExportSQL.Properties.Settings.bax2zaonv6" connectionString="Data Source=ACER0;Initial Catalog=ChineseStudy;Persist Security Info=True;User ID=sa;Password=97GeneralHospital"
      providerName="System.Data.SqlClient" />
    <add name="ExportSQL.Properties.Settings.amazon1" connectionString="Data Source=ACER0;Initial Catalog=ChineseStudy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ExportSQL.Properties.Settings.acer0" connectionString="Data Source=ACER0;Initial Catalog=ChineseStudy;Persist Security Info=True;User ID=sa;Password=97GeneralHospital" />
    <add name="ExportSQL.Properties.Settings.ChineseStudyConnectionString"
      connectionString="Data Source=ACER0;Initial Catalog=ChineseStudy;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ExportSQL.Properties.Settings.ChineseStudyConnectionString1"
      connectionString="Data Source=ACER0;Initial Catalog=ChineseStudy;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <ExportSQL.Properties.Settings>
      <setting name="ActiveSQL" serializeAs="String">
        <value />
      </setting>
    </ExportSQL.Properties.Settings>
  </userSettings>
</configuration>